#header {
    background-color:black; /*couleur d'arrière plan du bloc ayant pour identifiant "header"*/
    color:white; /*couleur du texte du bloc header*/
    text-align:center; /*alignement du texte du bloc header*/
    padding:5px; /* marge interne du bloc header (espacement entre la bordure du bloc et son contenu) */
}
#nav {
    line-height:30px; /*inter-ligne*/
    background-color:gray; /*couleur d'arrière plan du bloc nav */
    height:300px; /*hauteur du bloc nav*/
    width:100px; /*largeur du bloc nav*/
    float:left; /*position du bloc nav par rapport à la page*/
    padding:5px;	     /* marge interne du bloc */
}
#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:black;
    color:white;
    clear:both; /*pour ignorer les anciens positionnements de blocs, obligatoire pour placer le bloc footer au dessous des autres blocs*/
    text-align:center;
    padding:5px;	 	 
}
/* 
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

iframe{
    width: 100%;
    height: 100%;
    border: none;
}*/